// background colors variables
$bg-primary: #2170FF;
$bg-success: #00D4B5;
$bg-danger: #DC3545;
$bg-dark: #424143;
$bg-light: #FFFFFF;
$bg-grey: #E2F2FF;
$bg-gray: #E0E0E0;

// text colors variables
$text-primary: #2170FF;
$text-success: #00D4B5;
$text-danger: #DC3545;
$text-dark: #424143;
$text-light: #FFFFFF;
$text-grey: #E2F2FF;
$text-gray: #E2F2FF;