// background colors variables
$bg-primary: #2170ff;
$bg-success: #00d4b5;
$bg-danger: #dc3545;
$bg-dark: #424143;
$bg-light: #ffffff;
$bg-gray: #e0e0e0;
$bg-body: #f1f0f2;
$bg-light-primary: #e2f2ff;

// text colors variables
$text-primary: #2170ff;
$text-success: #00d4b5;
$text-danger: #dc3545;
$text-light: #ffffff;
$text-gray: #424143;
$text-light-gray: #a19b9d;
