@mixin button {
  padding: 8px 35px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  color: $text-primary;
  cursor: pointer;
}

.ReactModal__Overlay {
  background-color: rgb(0 0 0 / 55%) !important;
  .ReactModal__Content {
    border-radius: 8px !important;
  }
}
.modal_wrapper {
  width: 600px;
  height: auto;
  max-width: 100%;
  position: relative;
  .modal_heading {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      font-weight: 700;
    }
  }
  form {
    .row {
      .cancel_button {
        margin-top: 20px;
        button {
          background: $bg-light-primary;
          @include button();
        }
      }
      .save_button {
        margin-top: 20px;
        button {
          background: $bg-body;
          @include button();
        }
        .publish {
          background: $bg-primary;
          color: $text-light;
          margin-left: 15px;
          cursor: pointer;
        }
      }
      .form_group {
        margin-top: 20px;
        width: 95%;
        label {
          color: $text-light-gray;
          font-size: 14px;
        }
        input,
        textarea,
        select {
          width: 100%;
          border: 1px solid #8080803b;
          border-radius: 4px;
          padding: 10px 8px;
          outline: none;
          margin-top: 5px;
          color: $text-light-gray;
          resize: none;
          &::placeholder {
            color: $text-light-gray;
          }
        }
        .input{
            width: 250px;
        }
        select {
          width: 105%;
        }
      }
    }
  }
}
